.header {
  color:white
}
.weather-app {
  width:500px;
  height :400px;
  padding: 20px;
  border-radius: 20px;
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink)
}
.main {
  background-color: yellow;
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  text-align:center;
  box-shadow: inset;
}

.button {
  padding:1px;
  text-align: center;
  display : inline-block;
  text-decoration: none;
  padding: 10px 10px;
  background-color: red;
  border:none;
  border-radius:10px;
  position: relative;
  box-shadow: inset 0 0 0 0 yellow;
  transition : ease-out 0.1s;
  font: size 1.6rem;
  outline:none; 
}

.weather-content {
  font-size: 1rem;
  color:white;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.search-bar {
  border-radius: 15px;
  border:none;
  margin:10px;
  padding: 10px;
  text-align: center;
}

.input-button {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  align-items: center;
}

.flex-item1 {
  display: flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}

.flex-item2 {
  display : flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}



 