.header {
  color:white
}
.weather-app {
  width:500px;
  height :400px;
  padding: 20px;
  border-radius: 20px;
  background-image: url("beach.jpg");
  background-position: center;
  background-size:100%;
  background-repeat: no-repeat;
}
.main {
  background : linear-gradient(22deg, aqua, dodgerblue, deeppink);
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  text-align:center;
  box-shadow: inset;
}

.button {
  padding:10px;
  margin:4px 4px;
  text-align: center;
  display : inline-block;
  text-decoration: none;
  padding: 10px 10px;
  background-color:dodgerblue;
  border:none;
  color:white;
  border-radius:10px;
  position: relative;
  box-shadow: inset 0 0 0 0 yellow;
  transition : ease-out 0.1s;
  font: size 1.6rem;
  outline:none; 
}

.weather-content {
  font-size: 1rem;
  color:white;
  font-weight: bold;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.search-bar[type=input]:focus {
  border: 3px solid red;
}
.search-bar {
  border-radius: 15px;
  border:none;
  margin:10px;
  padding: 10px;
  text-align: center;
}

.input-button {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  align-items: center;
}

.flex-item1 {
  display: flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}

.flex-item2 {
  display : flex;
  flex-direction: column;
  margin:10px;
  padding:10px;
}


@media screen and (max-width: 540px) {
  .weather-app {
    width: 400px;
    height :500px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("beach.jpg");
    background-position: center;
    background-size:200%;
    background-repeat: no-repeat;
  }
}



 